<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSFF Quiz Game</title>
    <meta name="description" content="Quiz Game with Flask">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class=".bg-light.bg-gradient">
    <h1 class="h1 p-2 text-center">OSFF Football Quiz</h1>

    <!-- Remove this comment and replace it with your code -->
    <div id="form-container">
      <form class="needs-validation container d-flex flex-column" method="post" action="/quiz">
        <div class="mb-3 has-validation">
          <div id="usernameHelp" class="form-text">Your username will be shown on the leaderboard.</div>
          <label for="playerUsername" class="form-label">Enter Username</label>
          <input name="username" type="text" class="form-control" id="playerUsername" aria-describedby="usernameHelp">
          
          {% if duplicate_username %}
          <div class="text-danger">
            Username already exists.
          </div>
          {% endif %}
          <div class="invalid-feedback">
            Username must be between 4 and 21 characters.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Start Quiz</button>
      </form>
    </div>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
